/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#adminmenu #toplevel_page_lc-plugin div.wp-menu-image:before {
  content: "";

  margin-top: 10px;
  margin-left: 3px;
  background-image: url("../images/icon.png");
  background-repeat: no-repeat;
}

/**
  * Hide the sub menu items
  * did to hide menu items created by default wordpress behavior
*/
#toplevel_page_lc-plugin a[href*="lc-li-sub-itemContacts"]{
  display: none !important;
}